.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
}

.players__login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
  display: none;
}

.login__header {
  margin-bottom: 50px;
  align-self: center;
}

.login__header img {
    width: 350px;
    margin-bottom: 10px;
}

.login__header h1 {
    color: #333;
    font-size: 1.5em;
    margin-left: 20px;
}

.player-one__input, .player-two__input {
    border: 2px solid #333;
    border-radius: 8px;
    background-color: black;
    color: #CCC;
    font-size: 1em;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
    margin: 10px 0 5px 0;
}

.login__button {
    background-color: #cc1c0f;
    border-radius: 8px;
    color: white;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    align-self: center;
}

.login__button:disabled {
    background-color: #ccc;
    color: #aaa;
    cursor: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: absolute;
    display: inline-block;
    max-width: 300px;
    width: 100%;
  }
  
  .menu ul {
    position: absolute;
    bottom: -150px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s ease-in ;
    background-color: black;
  }
  
  .menu li {
    list-style: none;
    margin: 10px 0;
    background-color: black;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    background-color: black;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }

  .menu span{
    background-color: black;
    color: white;
    margin-bottom: 10px;
  }