.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
}

.players__login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
  display: none;
}

.login__header {
  margin-bottom: 50px;
  align-self: center;
}

.login__header img {
    width: 350px;
    margin-bottom: 10px;
}

.login__header h1 {
    color: #333;
    font-size: 1.5em;
    margin-left: 20px;
}

.login__input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
    margin: 10px;
}

.login__button {
    background-color: #ee665c;
    border-radius: 8px;
    color: white;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    align-self: center;
}

.login__button:disabled {
    background-color: #ccc;
    color: #aaa;
    cursor: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: relative;
    display: inline-block;
    max-width: 300px;
    width: 100%;
  }
  
  .menu ul {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
  }
  
  .menu li {
    list-style: none;
    margin: 5px 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }