main {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url('../assets/bg.jpg');
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
    background-repeat: no-repeat;  
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.centerContent {
    width: 100%;
    max-width: 800px;
    margin-right: 100px;
}

.rank {
    display: flex;
    flex-direction: column;
    width: 22%;
    background-image: linear-gradient(145deg, rgba(90, 90, 90, 0.7), black);
    margin: 5px;
    border-radius: 7px;
    padding: 1em;
    height: 200px;
}

.rank h4 {
    margin-left: 5px;
    padding: 5px 0 5px 10px;
}

.playerA, .playerB{
    margin-top: 10px;
}

.playerA span, .playerB span{
    background-color: rgba(0, 0, 0, .0);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 4/3;
    width: 100%;
    background-color: #333;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    border-radius: 5px;
}

.face {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #39813a;
    border-radius: 5px;
    transition: all 800ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('../assets/bg.jpg');
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

.buttons, .playerName, .scoreDiv {
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
}

table {
    font-size: 14px;
    padding: 10px;
}

.player, .highscore {
    margin: 4px;
}

.pause, .play, .restart {
    margin: 4px;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    background-color: #444;
    color: white;
}