:root{
    --bg-color: rgba(8, 39, 90, .4);
    --end-color: rgba (20, 120, 60, .4);
}

body {
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    width: 400px;
    padding-top: 20px;
    max-width: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
} 

.restart__button {
    background-color: var(--bg-color);
    border-radius: 8px;
    color: white;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    align-self: center;
}

.restart__button:disabled {
    background-color: #ccc;
    color: #aaa;
    cursor: auto;
}


.content{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.memoryGame, .ticTacToe, .comeSoon {
    padding-top: 20px;
    padding-left: 10px;
    width: 380px;
    height: 170px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 30px;
    border: 2px solid var(--bg-color);
    border-right: 25px solid var(--bg-color);
    border-bottom: 15px solid var(--bg-color);
    transition: all ease-in .8s;
}

.memoryGame:hover, .ticTacToe:hover, .comeSoon:hover {
    border: 10px solid black;
    cursor: pointer;
}

.content h3 {
    padding-top: 20px;
}

.imageMemory {
    width: 80px;
    height: 80px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/all-doc-card.jpg');
}

.imageTicTac {
    width: 80px;
    height: 80px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/logo.jpg');
}

.imageComeSoon {
    width: 80px;
    height: 80px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/angel.jpg');
}

.leaderboards {
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.memoryScore, .ticTacScore, .comeSoonScore {
    padding-top: 20px;
    padding-left: 10px;
    width: 380px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 30px;
    border: 2px solid var(--bg-color);
    transition: all ease-in 1s;   
}

.leaderboards h3 {
    margin-bottom: 120px;
}

.ended {
    border: 2px solid var(--end-color);
    border-right-width: 25px;
    border-right-style: solid;
    border-right-color: var(--end-color);
    border-bottom-width: 15px;
    border-bottom-style: solid;
    border-bottom-color: var(--end-color);
    pointer-events: none;
}
