body{
    display: flex;
    flex-direction: column;
    background-image: url('../assets/bg.jpg');
    min-height: 100vh;
    align-items: center;
    justify-content: center;  
    background-repeat: no-repeat;  
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.backToLogin {
    border-radius: 8px;
    color: white;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    font-size: 1em;
    max-width: 200px;
    background-color: rgba(50, 50, 60, .3);
    transition: background-color 2s ease-out;
    width: 100%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.backToLogin:hover{
    background-color: rgba(200, 200, 200, .3);
}

.content{
    display: flex;
    height: 350px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;   
    padding: 15px 0 0 15px;
}

.square{
    width: 80px;    
    height: 100px;
    border: 1px solid;
    font-size: 35px;
}

.playerOneSide, .playerTwoSide{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin: 5px;
    align-items: center;
    width: 200px;
    border-radius: 10px;
}

.playerName{
    background-color: rgba(20, 20, 20, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playerName p, .playerName p{
    margin: 5px;
    color: rgba(5, 5, 5, .4);
    background-color: rgba(20, 20, 20, .0);
}

.turnOne{
    background-color: rgba(180, 180, 250, .5);
    border: 1px solid rgba(100, 100, 150, .5);
}

.turnTwo{
    background-color: rgba(250, 180, 180, .5);
    border: 1px solid rgba(150, 100, 100, .5);
}

.playerOneScore, .playerTwoScore{
    display: flex;
    flex-direction: row;
    width: 130px;
    height: 90px;
    margin-top: 90px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid rgba(95, 95, 95, .3);
    justify-content: center;
    align-items: center;
}

.scoreOne, .scoreTwo{
    padding-left: 5px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
