body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/bg.jpg');
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.main--hidden {
    display: none;
}

.header--hidden{
    display: none;
}

main{
    margin: 20px;
    padding: 10px;
    background-color: rgba(244, 246, 240, .4);
}

header{
   padding: 10px;
   margin: 0 auto;
}

header div{
    margin-left: 20px;
    background-color: rgba(244, 246, 240, .4);
    border: 1px solid;
}

header button{
    padding: 2px;
    border-radius: 5px;
}

header button:hover{
    cursor: pointer;
    background-color: rgba(232, 235, 225, .5);
}

.newLog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.content{
    display: flex;
    margin: 0 auto;
    height: 350px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;   
    padding: 15px 0 0 15px;
}

.square{
    width: 80px;    
    height: 100px;
    border: 1px solid;
    font-size: 35px;
}

.playerOneSide, .playerTwoSide{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin: 5px;
    align-items: center;
    width: 200px;
    border-radius: 10px;
}

.playerOneSide p, .playerTwoSide p{
    margin: 5px;
    color: rgba(5, 5, 5, .4);
}

.turnOne{
    background-color: rgba(180, 180, 250, .3);
    border: 1px solid rgba(100, 100, 150, .3);
}

.turnTwo{
    background-color: rgba(250, 180, 180, .5);
    border: 1px solid rgba(150, 100, 100, .5);
}